In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [26]:
anime_data = pd.read_csv("anime.csv", index_col = 'anime_id')

In [27]:
anime_data

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
...,...,...,...,...,...,...
9316,Toushindai My Lover: Minami tai Mecha-Minami,Hentai,OVA,1,4.15,211
5543,Under World,Hentai,OVA,1,4.28,183
5621,Violence Gekiga David no Hoshi,Hentai,OVA,4,4.88,219
6133,Violence Gekiga Shin David no Hoshi: Inma Dens...,Hentai,OVA,1,4.98,175
26081,Yasuji no Pornorama: Yacchimae!!,Hentai,Movie,1,5.46,142

In [28]:
top_ten = anime_data.head(11)

In [29]:
top_ten

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266
32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15,93351
11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13,425855
820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11,80679
15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10,72534
15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11,81109
4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06,456749

In [49]:
top_ten.loc[32281:4181, "name":'rating']

,name,genre,type,episodes,rating
anime_id,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37
5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26
28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25
9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17
9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16
32935,Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...,"Comedy, Drama, School, Shounen, Sports",TV,10,9.15
11061,Hunter x Hunter (2011),"Action, Adventure, Shounen, Super Power",TV,148,9.13
820,Ginga Eiyuu Densetsu,"Drama, Military, Sci-Fi, Space",OVA,110,9.11
15335,Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...,"Action, Comedy, Historical, Parody, Samurai, S...",Movie,1,9.10
15417,Gintama&#039;: Enchousen,"Action, Comedy, Historical, Parody, Samurai, S...",TV,13,9.11
4181,Clannad: After Story,"Drama, Fantasy, Romance, Slice of Life, Supern...",TV,24,9.06

In [52]:
top_ten["rating"].value_counts()

9.11    2
9.37    1
9.26    1
9.25    1
9.17    1
9.16    1
9.15    1
9.13    1
9.10    1
9.06    1
Name: rating, dtype: int64

In [61]:
ep_rating = top_ten[["episodes", "rating"]]

In [63]:
ep_rating.sum(axis=0)

episodes    1645124511014811011324
rating                      100.87
dtype: object

In [64]:
ep_rating

         episodes  rating
anime_id
32281           1    9.37
5114           64    9.26
28977          51    9.25
9253           24    9.17
9969           51    9.16
32935          10    9.15
11061         148    9.13
820           110    9.11
15335           1    9.10
15417          13    9.11
4181           24    9.06

In [66]:
ep_rating.sort_index(ascending=False)

         episodes  rating
anime_id
32935          10    9.15
32281           1    9.37
28977          51    9.25
15417          13    9.11
15335           1    9.10
11061         148    9.13
9969           51    9.16
9253           24    9.17
5114           64    9.26
4181           24    9.06
820           110    9.11

In [69]:
ep_rating.sort_values('rating', ascending= False)

         episodes  rating
anime_id
32281           1    9.37
5114           64    9.26
28977          51    9.25
9253           24    9.17
9969           51    9.16
32935          10    9.15
11061         148    9.13
820           110    9.11
15417          13    9.11
15335           1    9.10
4181           24    9.06

In [71]:
name_rating = top_ten[["name", 'rating']]
name_rating

                                                       name  rating
anime_id
32281                                        Kimi no Na wa.    9.37
5114                       Fullmetal Alchemist: Brotherhood    9.26
28977                                              Gintama°    9.25
9253                                            Steins;Gate    9.17
9969                                          Gintama&#039;    9.16
32935     Haikyuu!!: Karasuno Koukou VS Shiratorizawa Ga...    9.15
11061                                Hunter x Hunter (2011)    9.13
820                                    Ginga Eiyuu Densetsu    9.11
15335     Gintama Movie: Kanketsu-hen - Yorozuya yo Eien...    9.10
15417                              Gintama&#039;: Enchousen    9.11
4181                                   Clannad: After Story    9.06

In [77]:
fave_anime = anime_data[anime_data['name'] == 'Kimi no Na wa.']
fave_anime

,name,genre,type,episodes,rating,members
anime_id,,,,,,
32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630